 body {
    margin-top: 5% !important;
    color: #feffff !important;
    background-color: #000000bf !important;
}
td, th{
    vertical-align: middle !important;
    text-align: center !important;
}
.data-row:hover{
    color: white !important;
    background-color: rgba(82, 82, 82, 0.82) !important;
}
.input-group{
    margin: 20px 0px;
}
svg{
    height: 150px;
}

td:first-of-type, td:first-of-type > div{
    height: 200px;
    width: 250px;
}
h1{
    color: grey !important;
    margin-top: 5% !important;
    padding: 5% !important;
}